{
	"extends": ["@nuxtjs/eslint-config-typescript", "@vue/eslint-config-prettier/skip-formatting"],
	"rules": {
		"no-console": "off",
		"no-unused-vars": ["warn"],
		"@typescript-eslint/no-unused-vars": "off",
		"curly": ["error", "all"]
	}
}
